body {
	background-image: url("input");
	background-size: cover;
	background-color: #8CD1E6;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
	margin: 0px;
}

div.Im {
    border: 0px solid black;
	margin: auto;
    background-color: white;
	padding-bottom: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
}

div.pictures {
    border: 0px solid black;
	margin: auto;
    background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
}

