
body {
    background: #c6dbbd;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
	margin: 0px;
}

div.center {
    border: 0px solid black;
	margin: auto;
	background:black;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	margin-top: 100px;
	margin-bottom: 20px;
	
}

div.header {
	border: 0px solid black;
	margin: auto;
	padding-bottom: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.header:hover {
	opacity: 0.5;
}

div.humanrights {
    border: 0px solid black;
	margin: auto;
	padding-bottom: 0px;
	padding-top:  50px;
	padding-left: 0px;
	padding-right: 0px;
	width: 1000px;
}

div.container {
	border: 0px solid black;
	margin: auto;
	background:black;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	margin-bottom: 20px;
}

.container:hover {
	opacity: 0.5;
}

div.holder {
	border: 0px solid black;
	margin: auto;
	background:white;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;
	margin-bottom: 20px;
}

.holder a:hover{
	opacity: 0.5;
}

p.paragraph {
    padding: 10px;
    width: 930px;
    height: -10px;
    text-align: justify;
	margin-left: 25px;
	text-indent: 25px;
	font-size: 20px;
}

li.list {
	letter-spacing: 0px;
	font-size: 20px;
	word-break: keep-all;
}

img.pics {
	width: 450px;
	height: 350px;
}

img.letters {
	margin: auto;
	width: 70%;
}

img.picture {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	border-radius: 20px;
}

img.header {
	margin: auto;
	width: 1000px;
}

img.logo {
	margin: auto;
	width: 25%;
}

.logo:hover {
	opacity: 0.5;
}
.format{
	 width:auto;
	 display:block;
	 margin:0 auto 0 auto;
}

.center img{
	height: 100px;
	width:auto;
	display:block;
	padding:5px 0px;
	margin:auto;	
}
